html * {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #271e0b 0%, #181402 40%, #030200 100%);
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 3em;
}

section#home {
  display: flex;
  /* align-items: center; */
  min-height: 100vh;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  & .form {
    max-width: 600px;
    --input-background-color: transparent;
    & fieldset:is(.inline-style) {
      --input-placeholder-color: var(--input-primary-color);
      --input-label-color: rgba(255, 248, 215, 0.431);
      --input-font-size: 1.6rem;
      --input-label-size: 1.6rem;
      /* min-height: 500px; */
      height: 100%;
      padding: 2em 1.5em 0.5em 1.5em;
      background: linear-gradient(
        45deg,
        rgba(24, 29, 9, 0.308) 0%,
        rgba(73, 65, 29, 0.486) 40%,
        rgba(56, 51, 2, 0.315) 100%
      );
      border: none;
      box-shadow: 5px 3px 70px 5px rgba(53, 53, 52, 0.212);
      & .field:has(> input[type="file"]) {
        --input-font-size: 1.1rem;
      }
    }
    & .buttons.set {
      background: linear-gradient(
        160deg,
        rgba(24, 29, 9, 0.308) 0%,
        rgba(73, 65, 29, 0.486) 40%,
        rgba(56, 51, 2, 0.315) 100%
      );
      border: none;
    }
  }

  & > .row {
    height: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  & h3.title {
    width: 100%;
    font-size: 3rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    line-height: 2.9rem;
    height: max-content;
    /* text-wrap: wrap; */
    overflow: visible;
  }
  & .description.natural {
    width: 100%;
    font-size: 2rem;
    font-family: "Courier New", Courier, monospace;
    & blockquote {
      color: darkgoldenrod;
      font-style: italic;
    }
    & blockquote::first-letter {
      display: inline;
      font-size: 4rem;
      font-family: "Franklin Gothic Medium";
      line-height: 1rem;
    }
  }
  & .asking.question {
    width: 100%;
    font-size: 2rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: darkgoldenrod;
    line-height: 1;
  }
  & button#start {
    display: block;
    cursor: pointer;
    background-color: transparent;
    padding: 0.5em;
    font-size: 1.2rem;
    min-width: 200px;
    max-width: max-content;
    border-radius: 0.55em;
    color: darkgoldenrod;
    border: 2px solid darkgoldenrod;
    transition: all 3ms ease-in-out;
    justify-self: center;
  }
  & button#start:hover {
    cursor: pointer;
    background-color: darkgoldenrod;
    padding: 0.5em;
    font-size: 1.2rem;
    min-width: 200px;
    border-radius: 0.55em;
    color: black;
    border: 2px solid transparent;
    box-shadow: -2px 3px 10px 2px rgba(172, 133, 6, 0.2);
    transform: scale(0.97);
  }
}
/* Setup Form Input Variable */
/* section#home .form {
  --gsheets-accent-color: #f0f4f9;
  --primary-color: rgba(248, 248, 248, 0.65);
  --primary-color-solid: rgba(143, 126, 174, 1);
  --primary-text-color: var(--primary-color);
  --primary-background-color: rgb(240 244 249 / 70%);
  --primary-light-color: rgba(235, 233, 251, 0.8);
  --primary-hover-color: rgba(134, 111, 63, 0.8);
  --secondary-text-color: rgb(94, 48, 110);
  --default-text-color: rgba(255, 255, 255, 0.8);
  --default-inverted-text-color: rgba(255, 255, 255, 0.9);

  --light-border-color: rgba(184, 135, 11, 0.301);
  --primary-border-color: rgba(144, 116, 186, 0.85);
  --input-placeholder-color: darkgoldenrod;
  --border-color: rgba(34, 36, 38, 0.15);

  --picker-background: var(--primary-light-color);
  --input-border-radius: 0;
} */
